html, body {
  color: #111;
  background-color: #EEE;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  font-size: 14px;
  height: 120%;
}

input {
  width: 120px;
  font-weight: 400;
}

button {
  font-family: 'Roboto', sans-serif;
}

hr {
  border: none;
  height: 0.5px;
  width: 100%;
  color: #111; /* old IE */
  background-color: #111; /* Modern Browsers */
}

#header, #footer {
  width: 920px;
  margin: 0 auto;
  padding: 15px 20px 15px 20px;
  text-align: center;
  background-color: #FFF;
  font-size: 18px;
  line-height: 36px;
}

#footer {
  font-size: 14px;
  line-height: 28px;
}

#content-wrapper {
  width: 960px;
  margin: 0 auto;
  background-color: #FFF;
  height: 100%;
}

#content {
  width: 900px;
  padding: 0px 30px 30px 30px;
  background-color: #FFF;
}
