html, body {
  color: #111;
  background-color: #EEE;
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  font-size: 12px;
  text-align: center;
  height: 100%;
}

hr {
  border: none;
  height: 1px;
  width: 100%;
  color: #111; /* old IE */
  background-color: #111; /* Modern Browsers */
}

input, select {
  text-align: left;
  margin-right: 8px;
}

input {
  width: 90px;
  font-weight: 400;
}

text {
  opacity: 0.8;
}

line, rect {
  stroke-opacity: 0.5;
  opacity: 0.5;
}

#header, #footer {
  width: 920px;
  margin: 0 auto;
  padding: 15px 20px 20px 20px;
  text-align: center;
  background-color: #FFF;
  font-size: 18px;
  line-height: 36px;
}

#header {
  font-weight: 700;
}

#footer {
  font-size: 14px;
  line-height: 28px;
}

#content-wrapper {
  width: 960px;
  margin: 0 auto;
  background-color: #FFF;
  height: 100%;
}

#content {
  width: 900px;
  min-height: 100%;
  padding: 0px 30px 30px 30px;
  background-color: #FFF;
}

.label {
  margin-right: 4px;
}

.graph {
  margin-bottom: 35px;
}
